/*commoninfo.css*/
html, body{
    height: 100%;
    margin: 0;
    padding: 0;

}

body{
    background-color: #FFF;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.img-borde {
    border: 1px solid black;
    height:70px;
    width:150px;
}

.sidebar{
    color: #000;
    background-color: #FFE207;
    display: block;
    height:10%;
    width: 30%;
    float: left;
}

.header {
    color: #FFF;
    background-color: #FFF;
    display: inline;
    float: right;
    text-align: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

}


.newsletter{
    color: #FFF;
    background-color: #FFF;
    display: block;
    height:10%;
    width: 30%;
    float: right;
}

.nav {
    color: black;
    display: inline;
    font-size: 15px;
    text-align: center;
    border-top: 1px solid black;
    padding: 3px;
}

.nav a {
    border-bottom: 1px solid #CCCED8;
    color: black;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    /*font-weight: 700;*/
    line-height: 1.2;
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-bottom: 6px;
    padding-top: 6px;



}

/*.div-titulo {
    font-size: 10px;
    color: white;
    background-color: gray;
    display: inline;
    text-align: center;
    width: 2px;
    height: 2px;
    /*cursor: pointer;*/
    line-height: 10px;
    border-radius: 100px;
    /*transition: background-color 0.5s ease;*/
    margin-right: 1px;
    margin-left: 1px;
}*/


.conectate {
    background-color: gray;
    border-radius: 40px;
    color: white;
    font-size: 10px;
    height: 2px;
    line-height: 10px;
    margin-right: 1px;
    margin-left: 1px;
    padding-top: 10px;
    text-align: center;
    width: 2px;
    height: 2px;
}


.rsoc {
    background-color: gray;
    border-radius: 100px;
    color: white;
    display: inline;
    font-size: 10px;
    height: 2px;
    line-height: 10px;
    margin-right: 1px;
    margin-left: 1px;
    text-align: center;
    width: 2px;
    height: 2px;
}






/*<ul class="s-d post-t5r5">
    <li class="tw"><li>
        <a class="twitterButtonHeader" target="_blank" href="http://twitter.com"></a>
*/


#hcont .date-time .s-d {
position: static;
}

.pos-t5r5 {
top: 5px;
right: 5px;
z-index: 2;
}

#hcont .date-time li:first-child {
border-left: medium none;
margin-left: 0px;
padding-left: 0px;
}

#hcont .s-d li a {
height: 16px;
width: 16px;
}



.div-bolas {
    padding: 90px;
    text-decoration: none;
/*    right: 5%;
    width: 100%*/
}

.article1 a, .article2 a, .article3 a {
    color: #000;
}

.footer {
    background-color: #FFF;
    color: black;
    float: left;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-size: 13px;
    left: 0;
    height: 40px;
    width: 100%;
    margin: 2px;
    padding-top: 1em;
}

.article1 {
    background-color: #FFF8097FF;
    color: black;
    font-weight: normal;
    font-size: 20px;
    height: 40%;
    margin: 3px;
    width: 100%;
}

.article3 {
    background-color: #FFF8097FF;
    color: black;
    font-weight: normal;
    font-size: 10px;
    /*height:40%;*/
    /*margin: 3px;*/
    width: 30%;
    position: relative;
    /*left: 0;*/
 }

.article2 {
    background-color: #FFF8097FF;
    color: black;
    font-weight: normal;
    font-size: 10px;
    /*height:40%;*/
    margin: 3px;
    width: 65%;
    position: relative;
    right: 0;
}

/* ############# CUERPO DE NOTICIAS ##################### */

.listasmenu {
    fontcolor: #000;
    display: list;
}

.tit-art2 {
    width: 100%;
    height: 100%;
    border-top: 1px solid #FF8000;
    border-bottom: 1px solid #FFDCA8;
    padding-top: 3px;
    padding-bottom: 7px;
}

.img-noticias2 {
    /*border: 1px solid black;*/
    height:70%;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
}




.tit-art3 {
    width: 100%;
    height: 100%;
    border-top: 1px solid #FF8000;
    border-bottom: 1px solid #FFDCA8;
    padding-top: 3px;
    padding-bottom: 7px;
}

.img-noticias3 {
    /*border: 1px solid black;*/
    height:70%;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
}



.p2{
    color: black;
    /*font-weight: bold;*/
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding: 9px;
}

.p1 {
    color: black;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 11px;
}

.ppal {
    color: black;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 11px;
}

.p3 {
    color: gray;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1.2;
    padding-left: 1.3em;
    padding-right: 1.3em;
    text-align: center;
    padding-bottom: 7px;

}

#link3 {
    color: gray;
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 1.2;
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-top: 1px;
    padding-bottom: 7px;
    text-align: center;
    border: 1px solid #CCCED8;
    border-top: 1px solid #FFF;
    /*border-radius: 4px 4px 0 0;*/
    border-left: 0;
    border-right: 0;
    bottom: -1px;
    /*left: 53%;*/
    /*position: absolute;
     text-trans25*form: capitalize;*/
}




.parranoti {
    display: inline;
}

.ularticle {
display: inline-flex;
}

.buscar {
    width: 55%
}

.enviar {
    width: 25%
}

.fnt1 {
    font-size: 15px;
}

.fntparra {
    font-size: 12px;
}

.fnttit {
    font-size: 15px;
}

@media screen and (max-width: 790px;) { /* IPAD */
    .nav a { display: none;
           }
    .article1 { 
        height: 20%;
        margin: 3px;
        width: 80%;
         }       
    .article2 { 
        display: none;
        }
    .article3 { 
        display: none;
         }       
    }

@media screen and (max-width: 480px;) {/* IPHOPE */
   .nav a { display: none;
         }
        
    .article1 { 
        height: 10%;
        margin: 3px;
        width: 50%;
         }
    }


/*#\31 319 > div:nth-child(1) > article:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div:nth-child(1) > figure:nth-child(1) > img:nth-child(1)*/
