.logoinfobae {
    padding-left:       7%;
    padding-right:      7%;
}

.logoinfobae-pie {
    padding-left:       0;
    padding-right:      15%;
}

.pubcabecera {
    height:             50px;
    padding-left:       11%;
    /*padding-right:      7%;*/
    width:              600px;
    right:              60px;

}
